* {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul,nav li{
    list-style: none;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a, nav a:hover {
    background-color: #503ef1;
    color: #ffffff;
}
#banner {
    background-image: url(../images/fuji2.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0 1px 0 #000000;
    max-width: 350px;
    padding: 0;
    margin: 0;
}
.banner_headline h2 {
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0 1px 0 #000000;
    max-width: 350px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
.banner_options {
    height: 210px;
    display: flex;
}
.banner1, .banner2, .banner3 {
    flex: 1;
    padding: 20px;
}
.banner1 {
    background-color: #9e94eb;
}
.banner2 {
    background-color: #7062ee;
}
.banner3 {
    background-color: #503EF1;
}
.banner-title {
    color: #ffffff;
    font-size: 21px;
}
.banner-description {
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
}
.banner_options a:hover {
    background-color: #503EF1;
}
.open-time {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 3px;
    margin-top: 10px;
    background-color: #503EF1;
}
.widget_body_square {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
}
.widget_body_square a {
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
}
.widget_square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #7062EE;
    color: #ffffff;    
    font-size: 17px;
}
.widget_square:hover {
    background-color: #503EF1;
}
.widget_appointment {
    color: #5c5c5c;
    margin-top: 10px;
}
.widget_separation_bar {
    width: 330px;
    height: 3px;
    margin-top: 15px;
    background-color: #9e94eb;
}
.contact {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.contact strong {
    margin: 0 10px 0 10px;
}
.contact_img {
    padding: 0 10px 0 10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;

}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
    flex-wrap: wrap;
}
article .news_posted_at {
    color: #ffffff;
    background-color: #3023a8;
    font-size: 12px;
    padding: 10px;
}
article .news_comments {
    color: #ffffff;
    background-color: #9e94eb;
    font-size: 12px;
    padding: 10px;
    margin-left: 2px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}
article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
}
.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}
.fm_1 {
    background-color: #9e94eb;
}
.fm_2 {
    background-color: #7062ee;
}
.fm_3 {
    background-color: #503EF1;
}
.fm_1 a, .fm_2 a, .fm_3 a  {
    text-decoration: none;
}
.footer_area {
    display: flex;
}
.footer_areaitem {
    flex: 1;
    color: #ffffff;
}
.flexColumn {
    flex-direction: column;
}
footer .widget_title_text {
    color: #ffffff;
}
.footer_copy {
    border-top: 1px solid #6e6e6e;
    height: 40px;
    line-height: 40px;
    color: #6e6e6e;
    font-size: 12px;
    margin-top: 30px;
}
footer .footer_description {
    color: #6e6e6e;
}
.footer_end {
    margin-top: 25px;
    margin-right: 30px;
}
.adress {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #6e6e6e;
    line-height: 20px;
}
.adress_email {
    color: #ffffff;
}
.footer_midia {
    margin-top: 20px;
}
.midia {
    margin-right: 5px;
    cursor: pointer;
}
.posts {
    margin-top: 20px;
    font-size: 12px;
}
.posts_date {
    margin-top: 5px;
    color: #9e94eb;
}
.tweets {
    margin-top: 20px;
    color: #6e6e6e;
    font-size: 12px;
}
.tweets_link {
    color: #ffffff;
}
.menuMobile {
    display: none;
    height: 40px;
    width: 40px;
    margin: 40px 20px 40px 0;
}
.mm_line {
    height: 2px;
    background-color: #503EF1;
}

@media (max-width:600px) {
    
    .logo {
        padding-left: 25px;
    }
    header .container {
        flex-direction: row;
    }
    header {
        height: auto;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral {
        margin-top: 70px;
    }
    #geral section, #geral aside {
        padding: 40px;
    }
    .footer_menu{
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 20px;
    }
}